
//THIS IS MINE

body {
    padding: 2em;
    color: #81BADC;
    font:veranda;
    background-color:darkgray;
}

main {
    font:verdana; 
    color:#0E3D65;
}


h1 {
    color: #0E3D65;
}

h2 {
    color: #C6BCBC;
}

hr {
    border: 1px solid #F4CBCB;
    width: 80%;
    margin: 30px auto;
}

img {
    border-radius: 20px;
}

pre {
    border: 1px solid #F6B018;
    box-shadow: 2px 2px 5px grey;
    padding: 1em;
    margin: 2em;
}

.card {
    margin: 20px;
    border: 1px solid #0E3D65;
    font:veranda;
}

.card-header {
    padding: 10px;
    font-weight: bold;
    color: whitesmoke;
    background-color: #C6BCBC;
    font:veranda;
}
